@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

:root {
  --main-color: #3A5A40;
  --secondary-color: #283618;
  --background: #DDDDDD;

  --white: #F4F4F4;
  --gray: #7e7e7e;

/*   --dark-gray: #1E1E1E; */
  --black: #292929;

  --font: 'Quicksand', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: var(--background);
}